.app-container {
  height: 99vh; // Full viewport height
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}




@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.tablet {
  grid-template-areas: "headerleft headerright"
                        "leftpanel rightpanel" ;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
  grid-row-gap: 0px;
  grid-column-gap:0px ;
  display: grid;
  height: 95%;
  width: 85% ;
  border-radius: 30px;
  background-color: rgba(58, 50, 50, 0.4);
  backdrop-filter: blur(30px);
}


.headerleft, .leftpanel {
  border-right: 3px solid rgba(98, 97, 97, 0.4);
}
.headerleft, .headerright {
  border-bottom: 3px solid rgba(98, 97, 97, 0.4);
}



.circle-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  width: 60%;
    //mobile screen
    @media screen and (max-width: 768px) {
      width: 100%;
    }
}

.headerleft {
  padding: 0px 20px;
  margin-left: 20px;

  //mobile screen
  @media screen and (max-width: 768px) {
      padding: 0px;
      margin-left: 0px;
  }

  &:hover  {
    .circle__image {
      visibility: visible;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}

.headerright{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  &:hover {
    .circle__image {
      visibility: visible;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    visibility: hidden;
    height: .7rem;
    width: .7rem;
  }

  &__profilePhoto{
    height: 60px;
    border-radius: 10px;
    border: 2px solid white;
  }
}

.cred {
  background-color: #F96057;
}

.cyellow {
  background-color: #F8CE52;
}

.cgreen {
  background-color: #5FCF65;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white; /* Adjust as needed */
}

.rightpanel {
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #888 #333; /* Change the colors as needed */
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #333; /* Change the background color of the scrollbar */
  }
}
