

<div class="video-background">
  <video autoplay loop muted>
    <source src="/assets/videos/background.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>


<div class="content">
  <div class="app-container ">
    <div class="tablet">
      <!-- header section -->
      <div class="headerleft p-2 ps-5">
        <div class="circle-container">
          <div class="circle cred text-center">
            <img src="assets/images/close.png" class="circle__image" alt="close">
          </div>
          <div class="circle cyellow">
            <img src="assets/images/minimize.png" class="circle__image" alt="minimize">
          </div>
          <div class="circle cgreen">
            <img src="assets/images/expand.png" class="circle__image" alt="close">
          </div>
        </div>
      </div>
      <div class="headerright p-2">
        gokul
      </div>
      <!-- main section -->
      <div class="leftpanel">
        <app-left-panel>

        </app-left-panel>
      </div>
      <div class="rightpanel p-2">
        Main Panel
      </div>
    </div>
  </div>
</div>
</div>
