.app-container {
  height: 99vh; // Full viewport height
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

// background: linear-gradient(45deg, #ff9add, #f8c3b4, #fcb4e8, #966ef1);
// background-size: 400% 400%;
// animation: gradientAnimation 3s ease infinite;
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// .tablet {
//   height: 80%;
//   width: 80%;
//   margin: 10%;
//   border-radius: 10px;
//   background-color: rgba(60, 61, 68, 0.4);
//   backdrop-filter: blur(10px);
//   &__header{
//     height: 12%;
//     border-bottom: 1px solid rgba(60, 61, 68, 0.4);
//   }
//   &__maincontent{
//     margin-top: 8px;
//     height: 88%;
//     &__leftpanel{
//       height: 100%;
//       width: 15%;
//       border-right: 1px solid rgba(60, 61, 68, 0.4);
//     }
//     &__rightpanel{
//       height: 100%;
//       width: 85%;
//       margin-left:20px;
//     }
//   }
// }

.tablet {
  grid-template-areas: "headerleft headerright"
                        "leftpanel rightpanel" ;
  grid-template-columns: 20% 85%;
  grid-template-rows: 10% 90%;
  grid-row-gap: 0px;
  grid-column-gap:0px ;
  display: grid;
  height: 95%;
  width: 80%;
  border-radius: 30px;
  background-color: rgba(58, 50, 50, 0.4);
  backdrop-filter: blur(30px);
}


.headerleft, .leftpanel {
  border-right: 1px solid rgba(60, 61, 68, 0.4);
}
.headerleft, .headerright {
  border-bottom: 1px solid rgba(82, 83, 85, 0.4);
}

.circle-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}

.headerleft {
  &:hover  {
    .circle__image {
      visibility: visible;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}

.circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    visibility: hidden;
    height: .7rem;
    width: .7rem;
  }
}

.cred {
  background-color: #F96057;
}

.cyellow {
  background-color: #F8CE52;
}

.cgreen {
  background-color: #5FCF65;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white; /* Adjust as needed */
}
