

<div class="">
  <div class="categories">
    <ul class="categories__container">
      @for (item of categoriesList; track $index) {
        <li class="categories__item">
          <a [href]="item.url"  class="categories__link" >
            <img [src]="`assets/images/${item.iconName}.png`" class="categories__image" alt="close">
            <!-- <img [src]="item.iconUrl" class="category-image"/> -->
            <span class="categories__name" > {{ item.name }} </span>
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="socialMedia">
    <!-- <h1 class="categories_title">Social Links</h1> -->
    <ul class="socialMedia__container">
      @for (item of SocialLinks; track $index) {
        <li class="socialMedia__item">
          <a  class="socialMedia__link" (click)="socialClickHandler(item)">
            <img [src]="`assets/images/${item.iconName}.png`" class="socialLink__image" alt="close">
            <span class="socialMedia__name" > {{ item.name }} </span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
