.categories__image {
  height: 1.5rem;
  width: 1.4rem;
}

.socialLink__image{
  height: 1.4rem;
  width: 1.3rem;
  font-weight: 900;
}

.categories_title{
  font-size: 1rem;
  font-weight: 600;
  width: 100px;
  border-bottom: 2px solid rgba(172, 171, 171, 0.4);
  display: flex;
  display: inline;
}


.ul{
  padding: 0px !important;
  padding-left:0px !important ;
}

.categories, .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    width: 150px;
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 3px;
    border-radius: 10px;
    padding: 7px 10px;
    text-decoration: none;
    color: #fff;
    &:hover{
      width: 150px;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      cursor: pointer;
    }

    //mobile screen
    @media screen and (max-width: 768px) {
      display: flex;
      width: 10px;
      & span {
        display: none;
        gap: 0rem;
      }
      &__item{
        padding: 3px 0px 3px 0px;
        display: block;
      }

      &:hover{
        width: 30px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        cursor: pointer;
      }
    }

  }

  &__item{
    padding: 3px 0px 3px 0px;
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__name {
    font-size: 0.9rem;
    font-weight: 400;
  }
    //mobile screen
    @media screen and (max-width: 768px) {
      justify-content: start;
      margin-left:-20px ;
      &__container {
        width: 100%;
      }
    }
}


