

<div class=" mt-2 d-flex flex-column justify-content-center align-items-start">
  <div class="float-start">
    <h1 class="categories_title">Categories</h1>
    <ul class="pt-1">
      @for (item of categoriesList; track $index) {
        <li class="category-item">
          <a [href]="item.url" class="category-link">
            <!-- <mat-icon [fontIcon]="item.iconName" ></mat-icon> -->
            <img [src]="`assets/images/${item.iconName}.png`" class="categories__image" alt="close">
            <span class="category_name">{{ item.name }}</span>
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="mt-4">
    <h1 class="categories_title">Social Links</h1>
    <ul class="pt-1">
      @for (item of SocialLinks; track $index) {
        <li class="category-item">
          <a [href]="item.url"  class="category-link">
            <img [src]="`assets/images/${item.iconName}.png`" class="socialLink__image" alt="close">
            <!-- <img [src]="item.iconUrl" class="category-image"/> -->
            <span class="category_name" > {{ item.name }} </span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
