<div class="container-fluid">

  <!-- aboutme -->
  <div id="About" class="about-me-container d-flex flex-row justify-content-center align-items-center ">
    <div>
      <h3 class="fs-2 fw-bolder">Gokul Ambalavanan</h3>
      <p class="fs-6 fw-semibold">A highly motivated software engineer with over 3.5 years of experience in developing web, mobile, and desktop applications. I hold a B.Tech in Computer Science and am a certified Professional Scrum Master and AWS Cloud Practitioner. My expertise lies in full-stack development using the MEAN stack and leveraging AWS cloud services for scalable solutions. Recognized for my innovative mindset, I have received the Global Innovation Award for Sustainability. Outside of work, I enjoy playing badminton and reading news.</p>
      <button class="btn btn-primary btn-lg " (click)="downloadPDF()">Download Resume</button>
    </div>
    <div>
      <img src="assets/gif/codeing.gif" height="250px" class="rounded-3" >
    </div>
  </div>


  <!-- Skills -->
  <div id="Skills" class="p-1 mt-3 pt-5">
     <h4 class="mb-2 fw-bolder fs-3">Skills</h4>
     <p-carousel [value]="skillList" [numVisible]="5" [numScroll]="3" [circular]="true" autoplayInterval="3000">
       <ng-template let-skill #item>
         <div class="skillcard" >
           <img src="assets/images/skills/{{skill.iconName}}.png"  height="60px" width="60px">
           <h5 class="card-title mt-2">{{skill.title}}</h5>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <!-- Projects -->
  <div id="Projects" class="projectcard mt-5 p-5">
    <div class="hstack justify-content-between align-items-center">
      <div>
        <h1 class="fs-3">
          Schneider Electric
        </h1>

        <h2 class="fs-6">
          Full Stack Developer
        </h2>
        <h2 class="fs-6">
          2021 Sept - Current
        </h2>
      </div>
      <div>
        <img src="assets/images/schneider.png"  height="100px">
      </div>
    </div>
    <h6 class="mt-1" style="text-align: justify;">
      I have made significant contributions to various projects and initiatives, driving efficiency, innovation, and quality improvements. My role has involved leading key projects, collaborating with stakeholders, and implementing cutting-edge technologies to achieve organizational goals.
    </h6>

    <!-- Projects -->
    <div class="jobs-container pt-5">
      <p-timeline [value]="projectList" class="w-full md:w-80 mt-4 w-75" [align]="'left'" [layout]="'vertical'">
        <ng-template let-project #opposite>
          <h4>{{project.projectName}}</h4>
        </ng-template>

        <ng-template #content let-project>
          <div class="projects">
            <ul class="list">
              @for (activity of project.activity; track $index) {
                <li class="list_item">{{activity}}</li>
              }
            </ul>
          </div>

        </ng-template>
      </p-timeline>

    </div>
  </div>

  <!-- Achivements -->
  <h1 class="fs-3 mt-4">
    Achivements:
    <img src="" alt="">
  </h1>
  <div id="Achivements" class="hstack justify-content-between align-items-center container">
    @for (achivement of achivementsList; track $index) {
      <div class="achivement-card">
        <div>
          <h5 class="fw-bold">{{achivement.title}}</h5>
        </div>
        <div>
          <p class="mt-1" >{{achivement.description}}</p>
        </div>
      </div>
    }
  </div>

    <!-- Education -->
    <h1 class="fs-3 mt-4">
      Education:
    </h1>
    <div id="Education" class="hstack justify-content-between align-items-center px-5 eduactionCard ">
      <div>

        <h2 class="fs-6">
          Dr.MGR Universtiy , Chennai
        </h2>

        <h2 class="fs-6">
          B.Tech in Computer Science
        </h2>
        <h2 class="fs-6">
          2021 Sept - Current
        </h2>
      </div>
      <div>
        <img src="assets/images/mgruniversity.png"  height="100px" class="rounded-1">
      </div>
    </div>
