.about-me-container{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  // animation: gradientAnimation 3s ease infinite;
  animation: gradientAnimation 10s ease-in-out infinite;
  padding: 1.5rem;
  border-radius: 30px;

}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  margin-bottom: 10px;
  margin-left:5px ;


  //mobile screen
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 0rem;

    .image {
      margin-bottom: 20px;
      height: 150px;
    }
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skillcard{
  padding: 1rem;
  width: 90%;
  background-color: rgba(16 18 27 / 40%);;
  border-radius: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  &:hover{
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  background-color: rgba(16 18 27 / 40%);
  border-radius: 30px;
  width: 100%;
  margin-bottom: 10px;
  margin-left:5px ;
  & .list {
    list-style: square;
    padding-left: 20px;
  }
}

.projectcard {
  border: 1px solid #ccc;
  background-color: rgba(16 18 27 / 10%);
  border-radius: 10px;
  padding: 10px 20px;

  .__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(16 18 27 / 10%);
    border-radius: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 20;
      & img {
        height: 70px;
      }
    }
  }



}

.education{
  background-color: rgba(16 18 27 / 10%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  &__textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.achivements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__card {
    padding: 10px 20px;
    // background-color: rgba(16 18 27 / 10%);
    border: 2px solid rgba(16 18 27 / 60%);
    border-radius: 10px;
    margin: 0px 5px;

    &:hover {
      transform: scale(1.05);
      background-color: rgba(16 18 27 / 40%);
      cursor: pointer;
    }
  }
}

